name: Build Kivy APK with Docker

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Build APK inside Docker
      run: |
        docker run --rm -v ${{ github.workspace }}:/home/user/hostcwd kivy/buildozer \
        /bin/sh -c "cd /home/user/hostcwd && buildozer android debug"

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v4
      with:
        name: my_kivy_app_apk
        path: bin/*.apk
